:root {
    --beauty-landing-2-c-1: #011C44;
    --color-primary-light: #FFFFFF;
    --color-brand: #2B7FFF;
    
}
/*Buse */
.body {
    color: var(--beauty-landing-2-c-1);

}
ul {
    list-style-type: none;
}

/* button */
.button-call {
    color: #FFFFFF;
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 32px;
    cursor: pointer;
}
.button-call:hover {
    color: var(--beauty-landing-2-c-1);
    background-color: transparent
}

/* link */
.link {
    color: var(--beauty-landing-2-c-1);
}

.link:hover {
    color: var(--color-brand)
}

/* hero section */

.body-p {
    color:#4A4A4A;
}
.hero-title {
    color: var(--color-brand);
}
.section-wiki {
    color: #297eff; /*HEX value */
}
.section-wiki .accent {
    color: var(--beauty-landing-2-c-1);
}

.why-we-section {
    fill: linear-gradient(38deg, rgba(43, 127, 255, 0.20) 39.74%, 
    rgba(43, 127, 255, 0.00) 54.16%, rgba(43, 127, 255, 0.00) 66.66%);
}
/* advantages section */
/*error */
.advantages-section {
    color: #000;
    border-radius: 32px;
    background-color: #FFF;
 }

 .section-title .accent {
    color: var(--color-brand);
 }